/* WRAPPER */
.wrapper {
  min-height: 100vh;
  display: flex;
  background: #e5f3f7;
}

/* LEFT BANNER */
.left {
  flex: 1;
  background: #edf7fb;
  padding: 80px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left h1 {
  font-size: 32px;
  color: #006064;
  margin-bottom: 10px;
  font-weight: 900;
}

.left p {
  font-size: 15px;
  color: #475569;
  margin-bottom: 40px;
}

/* RIGHT */
.right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
}

/* CARD */
.card {
  width: 100%;
  max-width: 380px;
  padding: 35px;
  border-radius: 16px;
  box-shadow: 0 20px 40px rgba(15, 23, 42, 0.12);
}

/* TOGGLE */
.toggle {
  display: flex;
  background: #f1f5f9;
  border-radius: 10px;
  margin-bottom: 25px;
}

.toggleBtn {
  flex: 1;
  padding: 10px;
  border: none;
  background: transparent;
  font-weight: 600;
  cursor: pointer;
  color: #64748b;
  border-radius: 10px;
}

.active {
  background: #006064;
  color: #ffffff;
}

/* TEXT */
.card h2 {
  text-align: center;
  color: #0f172a;
}

.desc {
  text-align: center;
  font-size: 14px;
  color: #64748b;
  margin-bottom: 20px;
}

/* FORM */
.form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.input {
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #e2e8f0;
}

.input:focus {
  outline: none;
  border-color: #006460;
}

.submit {
  padding: 12px;
  border-radius: 12px;
  border: none;
  background: #006064;
  color: #ffffff;
  font-weight: 600;
  cursor: pointer;
}

.submit:hover {
  background: #02847f;
}

/* ERROR */
.error {
  background: #fee2e2;
  color: #b91c1c;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

/* FOOTER */
.footer {
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
  color: #64748b;
}

.footer span {
  color: #2563eb;
  cursor: pointer;
}

/* MOBILE */
@media (max-width: 900px) {
  .wrapper {
    flex-direction: column;
  }

  .left {
    display: none;
  }

  .right {
    min-height: 100vh;
  }
}
