/* Navbar container */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 14px;
  flex-wrap: wrap;
  background-color: white;
  color: black;
  position: relative;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.3);
  z-index: 100;
}

/* Logo */
.logo  {
  font-size: 22px;
  font-weight: bold;
  color: black;
  text-decoration: none;
}

/* Desktop Links */
.navLinks {
  display: flex;
  gap: 22px;
  list-style: none;
  align-items: center;
  margin: auto;
}

.navLinks li a {
  color: black;
  text-decoration: none;
  font-size: 15px;
  transition: color 0.3s ease;
}

.navLinks li a:hover {
  color: #38bdf8;
}

/* Hamburger menu - hidden on desktop */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background: black;
  transition: all 0.3s ease;
}


/* ===== DROPDOWN ONLY ===== */

.dropdown {
  position: static; /* full width dropdown ke liye */
}

.dropdownMenu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: white;
  opacity: 0;
  visibility: hidden;
  transform: translateY(8px);
  transition: all 0.25s ease;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  z-index: 999;
}

/* Hover open */
.dropdown:hover .dropdownMenu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

/* Grid layout */
.dropdownGrid {
  max-width: 1200px;
  margin: auto;
  padding: 25px 40px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 18px;
}

/* Dropdown links */
.dropdownGrid a {
  font-size: 14px;
  color: black;
  text-decoration: none;
  padding: 8px 10px;
  border-radius: 6px;
  transition: background 0.2s ease;
}

.dropdownGrid a:hover {
  background: #f1f5f9;
}

/* Mobile me dropdown disable */
@media (max-width: 768px) {
  .dropdownMenu {
    display: none;
  }
}


/* Mobile Styles */
@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }
  .logo {
    display: none;
  }
  .navbar {
    display: none;
  }

  .navLinks {
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #0f172a;
    flex-direction: column;
    width: 100%; /* Full width for mobile */
    padding: 20px;
    display: none;
  }

  .navLinks.active {
    display: flex;
  }

  .navLinks li {
    margin-bottom: 15px;
  }

  .navLinks li a {
    color: white;
    font-size: 18px;
  }
}
