.container {
  min-height: 100vh;
  background: #f9fafb;
  padding: 30px 16px;
}

/* HEADER */
.header {
  text-align: center;
  margin-bottom: 30px;
}

.header h1 {
  font-size: 28px;
  font-weight: 800;
  color: #111827;
}

.header p {
  font-size: 14px;
  color: #6b7280;
}

/* TRACK INPUT */
.trackBox {
  max-width: 480px;
  margin: auto;
  display: flex;
  gap: 10px;
}

.trackBox input {
  flex: 1;
  padding: 14px;
  border-radius: 12px;
  border: 1px solid #e5e7eb;
  outline: none;
}

.trackBox input:focus {
  border-color: #2563eb;
}

.trackBox button {
  padding: 14px 22px;
  border-radius: 12px;
  border: none;
  background: #00838F;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.msg{
  margin-top: 10px;
  font-weight: 700;
  color: #ef4444;
  text-align: center;
}


/* STATUS BOX */
.statusBox {
  max-width: 900px;
  margin: 40px auto;
  background: white;
  padding: 24px;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.statusBox h2 {
  margin-bottom: 20px;
  font-size: 20px;
}

/* TIMELINE */
.timeline {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.step {
  text-align: center;
  flex: 1;
  position: relative;
}

.step span {
  width: 36px;
  height: 36px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #e5e7eb;
  color: #6b7280;
  font-weight: 700;
  margin-bottom: 6px;
}

.step p {
  font-size: 12px;
}

/* ACTIVE STEP */
.active span {
  background: #00838F;
  color: white;
}

/* LINE */
.step::after {
  content: "";
  position: absolute;
  top: 18px;
  right: -50%;
  width: 100%;
  height: 3px;
  background: #e5e7eb;
  z-index: -1;
}

.step:last-child::after {
  display: none;
}

/* DETAILS */
.details {
  max-width: 900px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.details h3 {
  margin-bottom: 10px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .timeline {
    flex-direction: column;
    gap: 20px;
  }

  .step::after {
    display: none;
  }

  .trackBox {
    flex-direction: column;
  }
}
